<ul class="list-group" *ngIf="usersList.length">
  <li
    *ngFor="let user of usersList"
    class="list-group-item"
    [class.active]="user.isCurrent"
    (dblclick)="selectUser(user)"
    title="Click twice to select"
    (click)="openForm(user)"
  >
    {{ user.name }}
  </li>
</ul>
<!-- <button class="open-button" (click)="openForm()">Chat</button> -->

<div class="chat-popup my-div" style="display: none"  #dataBlock>
  <form action="" class="form-container">
    <h1>{{chatUser}}</h1>

    <label for="msg"><b>Message</b></label>
    <textarea placeholder="Type message.." name="msg" required></textarea>

    <button type="submit" class="btn">Send</button>
    <button type="button" class="btn cancel" (click)="closeForm()">Close</button>
  </form>
</div>